body{
    background: linear-gradient(blue, violet, green, orange, yellow, beige);
}
.heading
{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
    font-family: cursive;
}
.note
{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: black;
}
.copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: gray;
    line-height: 3;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
canvas{
    background-color: gold;
    border-color: blue;
    border-radius: 30px;
    border-width: 5px;
    border:solid ;
}
video{
    background-color: lightgreen;
    border-color: blue;
    border-radius: 30px;
    border-width: 5px;
    border: solido;
}